@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 24 24 27;

  /*variant 1*/
  --global-color-one-scheme-1: 34 211 238;
  --global-color-two-scheme-1: 163 230 53;
  --global-color-three-scheme-1: 234 179 8;
  --global-color-four-scheme-1: 6 182 212;

  /*variant 2*/
  --global-color-one-scheme-2: 14 165 233;
  --global-color-two-scheme-2: 139 92 246;
  --global-color-three-scheme-2: 239 68 68;
  --global-color-four-scheme-2: 14 165 233;

  /*variant 3*/
  --global-color-one-scheme-3: 244 63 94;
  --global-color-two-scheme-3: 94 234 212;
  --global-color-three-scheme-3: 163 230 53;
  --global-color-four-scheme-3: 252 165 165;

  /*variant 4*/
  --global-color-one-scheme-4: 192 38 211;
  --global-color-two-scheme-4: 239 68 68;
  --global-color-three-scheme-4: 251 146 60;
  --global-color-four-scheme-4: 251 191 36;
}

linearGradient stop:first-child {
  stop-color: rgb(var(--background-color));
}

linearGradient stop:last-child {
  stop-color: rgb(var(--background-color));
}

stop, circle, text, rect {
  transition: 4s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(var(--background-color));
  overflow-x: hidden;
}

body.scroll-blocked {
  overflow-y: hidden;
}

#header-menu.hidden-menu {
  left: 100%;
  width: 20vw;
}

#header-menu {
  left: 0;
  width: 100vw;
  transition: width 2s, left 1s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes border-grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.spinner-animation {
  animation: spin 13s linear infinite;
}

.animated-border {
  animation: border-grow 4s linear;
}
