@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 24 24 27;

  /*variant 1*/
  --global-color-one-scheme-1: 34 211 238;
  --global-color-two-scheme-1: 163 230 53;
  --global-color-three-scheme-1: 234 179 8;
  --global-color-four-scheme-1: 6 182 212;

  /*variant 2*/
  --global-color-one-scheme-2: 192 38 211;
  --global-color-two-scheme-2: 129 140 248;
  --global-color-three-scheme-2: 251 146 60;
  --global-color-four-scheme-2: 236 72 153;

  /*variant 3*/
  --global-color-one-scheme-3: 192 38 211;
  --global-color-two-scheme-3: 163 230 53;
  --global-color-three-scheme-3: 251 146 60;
  --global-color-four-scheme-3: 236 72 153;
}

linearGradient stop:first-child {
  stop-color: rgb(var(--background-color));
}

linearGradient stop:last-child {
  stop-color: rgb(var(--background-color));
}

stop, circle, text {
  transition: 4s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(var(--background-color))
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes border-grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.spinner-animation {
  animation: spin 13s linear infinite;
}

.animated-border {
  animation: border-grow 4s linear;
}
