@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /*variant 1*/
  --global-color-one: 34 211 238;
  --global-color-two: 163 230 53;
  --global-color-three: 234 179 8;
  --global-color-four: 6 182 212;

  /*variant 2*/
  /*--global-color-one: 192 38 211;*/
  /*--global-color-two: 129 140 248;*/
  /*--global-color-three: 251 146 60;*/
  /*--global-color-four: 236 72 153;*/

  /*variant 2*/
  /*--global-color-one: 192 38 211;*/
  /*--global-color-two: 163 230 53;*/
  /*--global-color-three: 251 146 60;*/
  /*--global-color-four: 236 72 153;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes border-grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.custom-animation-duration {
  animation: spin 13s linear infinite;
}

.animated-border {
  animation: border-grow 4s linear;
}

html {
  scroll-behavior: smooth;
}
